.order-card {
    display: flex;
    flex-direction: column;
    padding: 2vh 2vw;
    margin: 7vh 15vw;
    background-color: white;
}

form, .welcome {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

mat-form-field {
    margin: 2vh 5vw;
}

button {
    width: 15%;
    margin: 0 auto;
}

mat-error, mat-card-title {
    margin: 1vh auto;
}